.scroll-animation {
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}

.scroll-animation.animate {
  opacity: 1;
  transform: translateX(-100);
}
